<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
{% load static %}
{% block content %}
<style>
.card {
    background-color: #e2e8f0;
    width: 800px;
    margin: auto;
}
.btn{
    margin-left: 250px; /* Add margin to the last card */
}
</style>

<div class="page">
    <div class="page-main">
        <div class="container mt-5">
            <h1 style="padding: 10px; text-align: center">{{ test.name }}</h1>

            {% if questions %}
                <form method="post">
                    {% csrf_token %}
                    {% for question in questions %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">{{ question.name }} -- {{ question.points }} Points</h2>
                                <ul class="list-unstyled">
                                    {% for option in question.options.all %}
                                        <li>
                                            <label class="form-check">
                                                <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ option.id }}">
                                                <span class="form-check-label">{{ option.text }}</span>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-teal">Submit</button>
                </form>
            {% else %}
                 <div class="empty">
                  <div class="empty-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <circle cx="12" cy="12" r="9" />
                      <line x1="9" y1="10" x2="9.01" y2="10" />
                      <line x1="15" y1="10" x2="15.01" y2="10" />
                      <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                    </svg>
                  </div>
                  <p class="empty-title">This Test {{ test.name }} is Empty</p>
                  <p class="empty-subtitle text-secondary">
                    Please Wait...
                  </p>

    </div>
              <h1 style="text-align: center; padding-top: 250px; color: red;">This Test {{ test.name }} is Empty</h1>


            {% endif %}
        </div>
    </div>
</div>

   {% endblock %}
