{% include 'base.html' %}
{% block content %}

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .profile-container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .profile-header {
      background-color: #3498db;
      color: #fff;
      text-align: center;
      padding: 20px;
    }

    .profile-img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .profile-info {
      padding: 20px;
    }

    .profile-info h2 {
      margin-bottom: 10px;
    }

    .profile-info p {
      margin: 5px 0;
    }
  </style>
<body>

  <div class="profile-container">
    <div class="profile-header">

      <img class="profile-img" src="{{ profile.photo.url }}" alt="Profile Image">
      <h2>{{ user.first_name }}  {{ user.last_name|upper }}</h2>
        <p><strong>Birthday:</strong> {{ profile.birth_date }}</p>
    </div>
    <div class="profile-info">
         <p><strong>Email: </strong> {{ user.email }}</p>
         <p><strong>Phone: </strong> {{ profile.phone_number }}</p>
          <p><strong>Address: </strong>{{ profile.address}}</p>
          <p><strong>City: </strong> {{ profile.city }}</p>
          <p><strong>Country: </strong> {{ profile.country }}</p>

        <p><strong>Bio: </strong> {{ profile.bio }}</p>

    </div>
  </div>
</body>>

{% endblock %}